<% include header.ejs %>
    <div class="container">
    	<h1>404!</h1>
    	<p>Opps! Something went wrong. Please check the URL. Try reloading the page. If still not working then contact me on cjdevdude at gmail dot com </p>
    </div> <!-- /container -->
<% include footer.ejs %>